<header class="header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <!--'Welcome Basic' link (for account management) -->
    <% if (locals.accountData) { %> 
      <a href="/account" title="Go to account management">Welcome</a>
      <% } %>
   

    <!-- 'My Account' link visible only when logged out -->
    <% if (!locals.accountData) { %>
      <a title="Click to log in" href="/account/login">My Account</a>
    <% } %>

    <!-- 'Logout' link visible only when logged in -->
    <% if (locals.accountData) { %>
      <a href="/account/logout" title="Click to log out">Logout</a>
    <% } %>
  </div>
</header>


