<% if (title) { %>
    <h1><%= title %></h1>
  <% } else { %>
    <h1>Unexpected Error</h1>
  <% } %>
  
  <% if (message) { %>
    <p><%= message %></p>
  <% } %>
  
  <!-- Optional: Add a link to go back to the home page -->
  <a href="/">Keyboard not found. Press a button on the non-existent keyboard to fix it!</a>
  